In [3]:
import pandas as pd

In [5]:
df = pd.read_excel("576 exterior colours.xlsx")
df

     Colour Number   Colour Name   NCS Number    R    G    B
0             1731   GINGER MIST   0805-Y35R   238  224  207
1            10399           NaN   1003-Y45R   232  225  214
2             2799   BROWN SUGAR   1710-Y69R   218  193  180
3             2798           RAW   0904-Y59R   232  224  214
4             2787    ROSE WATER   0905-Y54R   235  223  210
..             ...           ...          ...  ...  ...  ...
571           3312           NaN  S2005-R30B   200  194  196
572          10415           NaN   2704-Y12R   193  187  172
573           4691     BLUE VIEW   3320-R66B   147  155  175
574           8428  ROMAN COLUMN  S1505-G80Y   213  212  195
575           1029    WARM PEACH  S2020-Y40R   213  173  142

[576 rows x 6 columns]

In [6]:
df["Hex"] = df.apply(lambda row: f"#{row['R']:02X}{row['G']:02X}{row['B']:02X}", axis=1)

In [7]:
df

     Colour Number   Colour Name   NCS Number    R    G    B      Hex
0             1731   GINGER MIST   0805-Y35R   238  224  207  #EEE0CF
1            10399           NaN   1003-Y45R   232  225  214  #E8E1D6
2             2799   BROWN SUGAR   1710-Y69R   218  193  180  #DAC1B4
3             2798           RAW   0904-Y59R   232  224  214  #E8E0D6
4             2787    ROSE WATER   0905-Y54R   235  223  210  #EBDFD2
..             ...           ...          ...  ...  ...  ...      ...
571           3312           NaN  S2005-R30B   200  194  196  #C8C2C4
572          10415           NaN   2704-Y12R   193  187  172  #C1BBAC
573           4691     BLUE VIEW   3320-R66B   147  155  175  #939BAF
574           8428  ROMAN COLUMN  S1505-G80Y   213  212  195  #D5D4C3
575           1029    WARM PEACH  S2020-Y40R   213  173  142  #D5AD8E

[576 rows x 7 columns]

In [8]:
df.to_csv("576_exterior_colours_with_hex.csv", index=False)